<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Information</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #007BFF;
        }
        .bird {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
        }
        .bird h2 {
            color: #333;
        }
    </style>
</head>
<body>
    <h1>Current weather</h1>

    <!-- Bird 1 -->
    <div class="weather">
        <h2>weather 1</h2>
        <p><strong>Temp:</strong>90.5 </p>
        <p><strong>Unit:</strong> Farienheight</p>
        <p><strong>Cloudy:</strong> False</p>
        <p><strong>Precipitation chance</strong>0</p>
    </div>


</body>
</html>